h1 {
  text-align: center;
}

#font-list {
  display: block;
}

#tulisan {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  height: 100px;
}

#asciiArt{
  width:100%;
  height: 500px;
  color: white;
  background-color: black;
}